In [1]:
import geopandas as gpd

india_shapefile = gpd.read_file("/home/ubuntu/integrated_methane_inversion/resources/shapefiles/India_shapefile/gadm41_IND_0.shp")
bangladesh_shapefile = gpd.read_file("/home/ubuntu/integrated_methane_inversion/resources/shapefiles/Bangladesh_shapefile/gadm41_BGD_0.shp")


india_shapefile

  GID_0 COUNTRY                                           geometry
0   IND   India  MULTIPOLYGON (((76.97542 8.38514, 76.97486 8.3...
1   Z01   India  POLYGON ((75.07161 32.48296, 75.06268 32.48213...
2   Z04   India  POLYGON ((78.65135 32.09228, 78.65241 32.08826...
3   Z05   India  POLYGON ((80.08794 30.79071, 80.08796 30.79026...
4   Z07   India  POLYGON ((94.19125 27.49632, 94.18690 27.49081...
5   Z09   India  POLYGON ((78.90891 31.25886, 78.91309 31.26072...

In [2]:
india = india_shapefile.to_crs('EPSG:4326')
bangladesh = bangladesh_shapefile.to_crs('EPSG:4326')

india_bangladesh = gpd.pd.concat([india, bangladesh])

india_bangladesh

  GID_0     COUNTRY                                           geometry
0   IND       India  MULTIPOLYGON (((76.97542 8.38514, 76.97486 8.3...
1   Z01       India  POLYGON ((75.07161 32.48296, 75.06268 32.48213...
2   Z04       India  POLYGON ((78.65135 32.09228, 78.65241 32.08826...
3   Z05       India  POLYGON ((80.08794 30.79071, 80.08796 30.79026...
4   Z07       India  POLYGON ((94.19125 27.49632, 94.18690 27.49081...
5   Z09       India  POLYGON ((78.90891 31.25886, 78.91309 31.26072...
0   BGD  Bangladesh  MULTIPOLYGON (((92.33389 20.79194, 92.33361 20...

In [2]:
test = india_bangladesh.to_file("/home/ubuntu/integrated_methane_inversion/resources/shapefiles/india_bangladesh.shp")